<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Out of Context</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
	
	<script src="/javascripts/load-fonts.js"></script>
	<script src="/javascripts/draw-canvas.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/javascripts/jquery-functions.js"></script>
	<script src="/javascripts/outofcontext-functions.js"></script>
	
  </head>
  <body>

	<div class="headerDiv">
		<canvas id="graphicTitle" width="260" height="125"></canvas>
		<div></div>
		<div class="navDiv">
			<nav>
				<a href="/">Cases</a>
				<a href="#">Documents</a>
				<a href="/outofcontext">Out Of Context</a>
			</nav>
		</div>
	</div>

	<div class="sectionDiv">
		<div class="sectionHeader">
			<p>Options</p>
		</div>

        <div class="optionsDiv">
			<div class="labelInputDiv">
				<label class="optionItem" for="shouldInclude">Should include: </label>
            	<input class="optionItem" type="text" id="shouldInclude" name="shouldInclude" />
			</div>
			<div class="labelInputDiv">
				<label class="optionItem" for="amountOfCharacters">Characters to contain: </label>
            	<input class="optionItem" type="range" id="amountOfCharacters" name="amountOfCharacters" min="10" max="150" value="60"/>
				<div class="optionItem" id="rangeSelection">60</div>
			</div>
			<div class="labelInputDiv">
				<button class="noContextButton">Get Quote</button>
			</div>
        </div>
	</div>
	<div id="toggleDiv">
		<div class="sectionDiv">
			<div class="caseQuoteContainer">
				<div id="caseQuote" class="caseQuote"></div>
			</div>
			<div id="caseNameAndDate">
				<div class="caseNameContainer">
					<p id="caseName"></p>
				</div>
				<div class="caseDateDecidedContainer">
					<p id="caseDateDecided"></p>
				</div>
			</div>
		</div>
	</div>
	
  </body>
</html>